@model CartListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Urun Adi</th>
            <th>Aciklama</th>
            <th>Fiyat</th>
            <th>Stock Adedi</th>
            <th>Satis Adedi</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var cart in Model.Cart.CartLines)
    {
    <tbody>
        <tr>
            <td>@cart.Product.ProductId</td>
            <td>@cart.Product.ProductName</td>
            <td>@cart.Product.QuantityPerUnit</td>
            <td>@cart.Product.UnitPrice</td>
            <td>@cart.Product.UnitsInStock</td>
            <td>@cart.Quantity</td>
            <td>
                <a class="btn btn-sm btn-danger" asp-controller="Cart" asp-action="RemoveFromCart"
                   asp-route-productId="@cart.Product.ProductId">Sil</a>
            </td>

        </tr>
    </tbody>
    
    }

</table>


